body
{
	margin: 0;
	font-family: "Open Sans", sans-serif;
	position: relative;
}

.css-table
{
	display: table;
	width: 100%;
	height: 100%;
	
	.css-row
	{
		display: table-row;
		
		.css-cell
		{
			position: relative;
			display: table-cell;
		}
	}
}

.left
{
	float: left;
	text-align: left;
}

.right
{
	float: right;
	text-align: right;
}

#status_indicator
{
	padding: 15px;
	position: relative;
	-webkit-transition: all 400ms ease;
	transition:         all 400ms ease;

	&.disconnected
	{
		color: #821;
	}

	&.connected
	{
		color: #881;
	}
 
	&.session-in-progress
	{
		color: #281;
		position: relative;
		
		&:after
		{
			display: block;
			content: " ";
			position: absolute;
			top: 0;
			left: 0;
			animation: pulsing-background 2s infinite;
			background-color: #281;
			width: 100%;
			height: 100%;
			border-radius: 50px;
		}
	}
}

.toolbar
{
	height: 0;
	position: relative;
	text-align: center;
	box-shadow: 0 0 10px rgba(0,0,0,0.4);
	z-index: 2;
	
	.css-cell
	{
		vertical-align:	top;
		border: 1px solid #E0E0E0;
		border-width: 0 1px 1px 0;
	}
	
	.connection-status
	{
		padding: 15px;
		
		&.connected
		{
			color: #5F5;
		}
		
		&.error
		{
			color: #F55;
		}
	}
	
	.btn
	{
		background: none;
		cursor: pointer;
		color: #555;
		padding: 15px;
		display: inline-block;
		border: none;
		-webkit-transition: .2s;
		transition: .2s;
		transition-timing-function: ease;
		border-bottom: 3px solid transparent;
		
		.fa
		{
			-webkit-transition: .2s;
			transition: .2s;
			transition-timing-function: ease;
			-webkit-backface-visibility: hidden;
			-webkit-transform: translateZ(0) scale(1.0, 1.0);
		}
		
		&:hover
		{
			background: rgba(0,0,0,0.1);
			border-bottom: 3px solid #59c203;

			.fa
			{
				@scale: 1.5;
				color: #59c203 - #222;
				-webkit-transform: scale(@scale, @scale);
				transform:  scale(@scale, @scale);
			}
		}
		
		&:focus
		{
			outline: none;
		}
		
		&:active
		{			
			.fa
			{
				@scale: 0.7;
				-webkit-transform: scale(@scale, @scale);
				transform:  scale(@scale, @scale);
			}
		}
		
		&.active,
		&.active:hover .fa
		{
			color: #FFF;
			background: #21599f;
		}
	}
}

.h-padding
{
	padding-right: 15px;
}

.v-padding
{
	box-sizing: border-box;
	padding-top: 15px;
	display: inline-block;
	border-bottom: 3px solid transparent;
}

.status-indicators,
.status-panel .scroller
{
	-webkit-transition: all 400ms ease;
	transition:         all 400ms ease;
}

.hidden
{
	display: none;
}

.stack-table
{
	height: 0;
	
	.css-row 
	{
		-webkit-transition: .2s;
		transition: .2s;
		
		.css-cell
		{
			-webkit-transition: all 400ms ease;
			transition:         all 400ms ease;
			border-bottom: 1px solid #F0F0F0;
			padding: 5px 10px;
			font-family: consola, monospace;
	
			&.depth
			{
				background: rgba(0,0,0,0.15);
				text-align: right;
			}
			
			&.file,
			&.line
			{
				background: rgba(0,0,0,0.1);
				text-align: left;
			}
			
			&.depth,
			&.file
			{
				width: 0;
			}
			
			&.line
			{
				width: 100%;
			}
		}
		
		.css-cell:after
		{
			-webkit-transition: all 400ms ease;
			transition:         all 400ms ease;
			position: absolute;
			bottom: 0;
			width: 100%;
			border-bottom: 3px solid transparent;
			content: ' ';
			left: 0;
		}
		
		&.active .css-cell
		{
			color: #FFF;

			&.depth
			{
				background: #21599f - #111;
			}
			
			&.file,
			&.line
			{
				background: #21599f;
			}
		}
	}
	
	.css-row:hover .css-cell
	{
		background: rgba(0,0,0,0.2);
		cursor: pointer;

		&:after
		{
			border-color: #59c203;
		}
	}
	
	.css-row:active
	{
		@scale: .95;
		-webkit-backface-visibility: hidden;
		-webkit-transform: translateZ(0) scale(@scale, @scale);
	}
}

.blur-hidden
{
	@blur: 3px;
	position: relative;
	-webkit-filter: blur(@blur);
	-moz-filter: blur(@blur);
	-o-filter: blur(@blur);
	-ms-filter: blur(@blur);
	filter: blur(@blur);
	opacity: 0;
}

.layout-table
{
	position: relative;
	z-index: 1;
	.files-cell
	{
		width: 20%;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3ca6de+0,21599f+100 */
		background: #3ca6de; /* Old browsers */
		background: -moz-linear-gradient(top,  #3ca6de 0%, #21599f 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  #3ca6de 0%,#21599f 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  #3ca6de 0%,#21599f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3ca6de', endColorstr='#21599f',GradientType=0 ); /* IE6-9 */
	}

	.relative-container
	{
		width: 100%;
		height: 100%;
		position: relative;
	}
	
	.editor-cell
	{
		width: 50%;
	}

	.context-cell
	{
		width: 30%;
		
		.scroller
		{
			position: absolute;
			height: 100%;
			width: 100%;
			overflow: scroll;
		}


		.identifier-icon
		{
			color: #AAA;
		}
	}
	
	.label-row
	{
		height: 0;
		
		.css-cell
		{
			border: 1px solid #E0E0E0;
			border-width: 0 1px 1px 0;
			background: #F8F8F8;
			box-sizing: border-box;
			padding: 15px;
			color: #000;
			font-size: 17px;
			width: 100%;
			font-weight: bold;
			overflow: hidden;
			text-overflow: ellipsis;
			
			.secondary
			{
				color: #888;
				display: inline-block;
				margin-left: 10px;
				font-weight: normal;
				float: right;
			}
		}
	}
}

.identifier-leaf,
.identifier
{
	font-family: consolas, monospace;
}
.identifier
{
	color: #555;
	
}

.windows
{
	width: 100%;
	height: 100%;
	padding: 30px;
	position: relative;
	box-sizing: border-box;
	vertical-align: top;
	
	.window
	{
		display: inline-block;
		position: relative;
		width: 30%;
		height: 100%;
		box-shadow: 0 0 30px #000;
		background: rgba( 0,0,0,0.7 );
		box-sizing: border-box;
		overflow: hidden;
		
		&:not(:last-child)
		{
			margin-right: 30px;
			width: ~"calc(70% - 35px)";
		}
		
		.window-title
		{
			color: #FFF;
			padding: 10px;
			position: relative;
			overflow: hidden;
			
			.icon
			{
				margin-right: 10px;

			}
			
			.text,
			.icon
			{
				color: #FFF;
				text-shadow: 0 0 10px #000, 0 0 20px #000, 0 0 30px #000;
				position: relative;
			}
		}
		
		.window-content-outer
		{
			width: ~"calc(100% - 10px)";
			height: ~"calc(100% - 58px)";
			position: relative;
			padding: 5px;

			.window-content
			{
				position: relative;
				width: 100%;
				height: 100%;
				padding-top: 5px;
			}
		}
	}
}

#editor
{
	margin: 0;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateZ(0) scale(1.0, 1.0);
	
}

.ace-solarized-light.ace-solarized-light
{
	background: #FFF;
	
	.ace_marker-layer .ace_active-line
	{
		background: rgba( 0,0,0,0.1);
	}
	
	.ace_gutter.ace_gutter
	{
		background: #F0F0F0;
		
		.ace_gutter-active-line
		{
			background: rgba( 0,0,0,0.1);
		}
	}
}
	
.ace_content
{
	overflow: scroll;
}

@keyframes pulsing-background
{
  0% {
    @scale: 0;
	opacity: 1;
	-webkit-transform: scale(@scale, @scale);
	transform:  scale(@scale, @scale);
  }
  100% {
    @scale: 1;
	opacity: 0;
				-webkit-transform: scale(@scale, @scale);
			transform:  scale(@scale, @scale);
  }
}

.ace_gutter-cell.ace_breakpoint
{
	background: #C22;
	color: #FFF;
}

.ace_gutter-cell.pending-breakpoint
{
	animation: pending-breakpoint 1s infinite;
}

.ace_gutter-cell.gutter-current-line
{
	background: #59c203;
}

@keyframes pending-breakpoint
{
  0% {
	background: rgba(0,0,0,0);
  }
  50% {
	background: #CC2;
	color: #000;
  }
  100% {
	background: rgba(0,0,0,0);
  }
}

.modal-overlay
{
	background: rgba(0,0,0,0.5);
	z-index: 9;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.modal
{
	-webkit-transition: all 400ms ease;
	transition:         all 400ms ease;
	background: #FFF;
	box-shadow: 0 0 10px #000;
	position: relative;
	width: 100%;
	max-width: 400px;
	margin: 200px auto;
	transform:  scale(1, 1);
	opacity: 1;
}

#new_value
{
	border: 1px solid #888;
	padding: 10px;
	font-family: consolas, monospace;
	max-height: 5em;
	overflow: auto;
	
	&:focus
	{
		box-shadow: 0 0 5px #369;
	}
}

.ace-current-line
{
	background: #59c203 + #444;
	position: absolute;
	z-index: 0;
}

.modal-title-bar
{
	position: relative;
	background: #21599f;
	height: 20px;
	padding: 10px;
	color: #FFF;
}

.modal-exit
{
	padding: 10px;
	background: #21599f;
	position: absolute;
	top: 0;
	right: 0;
	color: #FFF;
	height: 20px;
	cursor: pointer;
	-webkit-transition: .2s;
	transition: .2s;
	
	.fa
	{
		-webkit-transition: .2s;
		transition: .2s;
	}
	
	&:hover
	{
		background: #A33;
		
		.fa
		{
			@scale: 1.5;
			-webkit-transform: scale(@scale, @scale);
			transform:  scale(@scale, @scale);
		}
	}
	
	&:active
	{
		background: #A33;

		.fa
		{
			@scale: .5;
			-webkit-transform: scale(@scale, @scale);
			transform:  scale(@scale, @scale);
		}
	}
}

.modal-hidden
{
	@scale: 1.5;
	transform:  scale(@scale, @scale);
	opacity: 0;
}

.modal-content
{
	padding: 10px;
	width: 100%;
	box-sizing: border-box;
}

input[type=text]
{
	box-sizing: border-box;
	padding: 10px;
	width: 100%;
	display: block;
}

.cover
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.6);
	display: block;
	content: " ";
}

body
{
	background: #666;
}

.blurable
{
	-webkit-transition: all 500ms;
	transition:         all 500ms;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateZ(0) scale(1.0, 1.0);
	@scale: 1;
	transform:  scale(@scale, @scale);
	background: #FFF;
	position: relative;
}

.blurable.blurred
{
	@scale: 0.95;
	@blur: 3px;
	position: relative;
	transform:  scale(@scale, @scale);
	-webkit-filter: blur(@blur);
	-moz-filter: blur(@blur);
	-o-filter: blur(@blur);
	-ms-filter: blur(@blur);
	filter: blur(@blur);
}
