/*************************************************************************************************
 * Global variables
 *************************************************************************************************/

// ---------------------------------------- COLOR PALETTE ----------------------------------------
@red:    #FB0416;
@orange: #FF8504;
@yellow: #FFD704;
@green:  #59c203;
@blue:   #0A93C1;

@black:                 #000;
@dark-gray:             #333;
@light-gray:            #AAA;
@lighter-gray:          #CCC;
@lightest-gray:         #F0F0F0;
@white:                 #FFF;
@semitransparent-white: rgba(255,255,255,0.5);

// ---------------------------------------- COLOR DESIGNATIONS -----------------------------------
// Colors in this section MUST be defined above, or apply a LESS color function to one of the
// colors in the section above
// -----------------------------------------------------------------------------------------------
@active-color: @green;
@active-color-subtle: lighten( @active-color, 20% );

@inactive-color: @light-gray;

@window-bg: @white;
@window-text-color: @dark-gray;
@title-bar-bg: @blue;
@title-bar-fg: @white;

@splash-bg: @dark-gray;

@toolbar-bg: @dark-gray;
@toolbar-fg: @white;

@input-bg: @lightest-gray;
@text-btn-bg: @input-bg;
@text-btn-fg: @dark-gray;
@selectable-color: darken( @blue, 20% );
@selectable-hover-color: fade( @blue, 20% );

@deemphasized-text-color: rgba(0,0,0,0.625);
@extra-deemphasized-text-color: rgba(0,0,0,0.325);
@text-contrast-color: @white;

@separator: @lighter-gray;

@subtle-highlight: rgba(0,0,0,0.1);

// ---------------------------------------- FONTS ------------------------------------------------
@default-font: 'Open Sans';
@monospace-font: consolas, monospace;

// ---------------------------------------- SIZES ------------------------------------------------
@default-border-radius: 0px;
@standard-border-width: 0 0 2px 0;
@spacing-sm: 10px;
@spacing: 20px;

// ---------------------------------------- MISC -------------------------------------------------
@text-shadow: 0 0 @spacing-sm @black;
@shadow: 0 0 @spacing-sm @spacing-sm*(-.2) @black;
@transition-duration: 200ms;

/*************************************************************************************************
 * Mixins
 *************************************************************************************************/

.transition()
{
	-webkit-transition: all @transition-duration ease;
	transition:         all @transition-duration ease;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateZ(0) scale(1.0, 1.0);
}
