<h2>When a new debug session is opened...</h2>
<div class="autorun-modes">
{{#each modes}}
	<input {{#if selected}}checked{{/if}} type="radio" name="autorun_mode" value="{{id}}" id="autorun_mode_{{@index}}">
	<label for="autorun_mode_{{@index}}">{{title}}</label>
{{/each}}
<div class="autorun-modes">
