<tr>
	<td class="close-popover-on-click" data-switch-to-session="{{id}}">
		<span class="file">{{file}}</span>
		<span class="host">{{host}}</span>
	</td>
	<td>
		<button data-detach-session="{{id}}" class="btn close-popover-on-click black"><i class="fa fa-unlink"></i></button>
	</td>
</tr>
