{{#unless no_table}}
<table class="watch">
	<tr>
		<td colspan="4">
			<button class="no-margin-top add-expression btn btn-block text-btn" data-modal-role=open>Add expression</button>
		</td>
	</tr>
{{/unless}}
	{{#each expressions}}
	<tr data-watch-id="{{@index}}">
		<td class="btn-cell"><button data-role="delete" class="btn black sm"><i class="fa fa-trash"></i></button></td>
		<td class="display-expression">{{expression}}</td>
		<td class="result"></td>
	</tr>
	{{/each}}
{{#unless no_table}}
</table>
{{/unless}}
