@use "prismeditor.min.css";

/* #####################################################################################
 * Resets
 * #####################################################################################*/
html, body { position: relative; width: 100vw; height: 100vh; overflow: hidden; margin: 0; }

/* #####################################################################################
 * Utility
 * #####################################################################################*/
.float-right { float: right }
.float-left { float: left }

.d-flex { display: flex; }
.d-block { display: block; }
.d-inline-block { display: inline-block; }

.flex-row { flex-direction: row; }
.flex-column { flex-direction: column; }
.flex-grow-0 { flex-grow: 0; }
.flex-grow-1 { flex-grow: 1; }

.relative { position: relative; }

$size-pcts: 0, 25, 50, 75, 100;
@each $size in $size-pcts {
  .h-#{$size} { height: $size * 1%; }
  .mh-#{$size} { max-height: $size * 1%; }
  .w-#{$size} { width: $size * 1%; }
  .mw-#{$size} { max-width: $size * 1%; }
}

$spacing-levels: (
  "1": 5px,
  "2": 10px,
  "3": 15px,
  "4": 25px,
);
$directions: (
  "t": "top",
  "r": "right",
  "b": "bottom",
  "l": "left",
);
@each $level, $size in $spacing-levels {
  .p-#{$level} { padding: $size; }
  .m-#{$level} { margin: $size; }

  @each $name, $direction in $directions {
  .p#{$name}-#{$level} { padding-#{$direction}: $size; }
  .m#{$name}-#{$level} { margin-#{$direction}: $size; }
  }
}


/* #####################################################################################
 * Colors
 * #####################################################################################*/
$color-scheme: (
  "dark": #444,
  "light": #CCC,
);

@each $name, $color in $color-scheme {
  .bg-#{$name} { background-color: $color }
  .fg-#{$name} { color: $color }
}

/* #####################################################################################
 * Code Display
 * #####################################################################################*/

$prism-line-height: 1.2;
$prism-gutter: 10px;

$bp-purple: #63C;
$bp-blue: #35E;

.prism-editor-wrapper .prism-editor__line-numbers {
    margin-right: 0;
    .prism-editor__line-number.breakpoint-line {
        background-color: $bp-purple;
        color: #FFF;
        &.conditional {
            background-color: $bp-blue;
        }
    }
}

.prism-editor-wrapper {
    font-family: 'Source Code Pro', monospace;
    font-size: 10pt;
}

.prism-editor-wrapper .prism-editor__container {
    padding-left: $prism-gutter;
}

.breakpoint-arrow {
    position: absolute;
    left: -$prism-gutter;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: #{$prism-line-height/2}em 0 #{$prism-line-height/2}em $prism-gutter - 2;
    border-color: transparent transparent transparent $bp-purple;

    &.conditional {
        border-color: transparent transparent transparent $bp-blue;
    }
}


.current-line-code {
    position: absolute;
    width: calc(100% + #{$prism-gutter});
    height: #{$prism-line-height}em;
    background: #33CC6622;
    border: 1px solid #3C6;
    border-width: 1px 0px;
    left: -$prism-gutter;
}
