.jstree-default > .jstree-container-ul .jstree-loading > .jstree-ocl
{
	background: none;
	
	display: inline-block;
    font: normal normal normal 14px FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	vertical-align: baseline;
	
	&:before
	{
		position: relative;
		content: "\f254";
		color: rgba( 0,0,0,0.5);
		animation: throbber 1.5s;
	}
}