<div class="layout-selector-widget">
	<div class="layout-preview-container" data-index="{{index}}" data-layout-id="{{split_id}}">
		{{{layout_preview}}}
	</div>
	{{#if include_controls}}
		<div class="layout-controls">
			{{layout_title}}
			<i class="next-layout fa fa-arrow-right"></i><i class="prev-layout fa fa-arrow-left"></i>
		</div>
	{{/if}}
</div>
