<div class="layout-selector-widget">
	<div class="layout-preview-container" data-index="{{index}}" data-layout-id="{{split_id}}">
		{{{layout_preview}}}
	</div>
	{{#if include_controls}}
		<div class="layout-controls">
			{{layout_title}}
			<button class="btn black sm no-margin-top next-layout">
				<i class="fa fa-arrow-right"></i>
			</button>
			<button class="btn black sm no-margin-top prev-layout">
				<i class="fa fa-arrow-left"></i>
			</button>
		</div>
	{{/if}}
</div>
