<div class="settings-container">
	<div class="settings-nav">
		<button class="settings-page">
			<i class="fa fa-{{icon}}"></i>
			{{title}}
		</button>
		<button class="btn black sm save-settings"><i class="fa fa-save"></i></button>
	</div>
	<div class="settings-widgets">
		{{{widgets}}}
	</div>
</div>
