<div class="spinner-container">
	<div class="v v1"><img src="{{img_path}}/v1.svg"/></div>
	<div class="v v2"><img src="{{img_path}}/v2.svg"/></div>
	<div class="v v3"><img src="{{img_path}}/v3.svg"/></div>
</div>

