<div class="spinner-container">
	<div class="v v1"><img src="{{imgPath}}/v1.svg"/></div>
	<div class="v v2"><img src="{{imgPath}}/v2.svg"/></div>
	<div class="v v3"><img src="{{imgPath}}/v3.svg"/></div>
</div>

