@import "@{defaults}";

.recent-file
{
	body:not(.active-session) &.nonlocal-file:hover
	{
		background-color: @window-bg;
		cursor: not-allowed;
	}

	.filename
	{
		display: block;
		font-weight: bold;
	}

	.host,
	.filepath
	{
		font-family: @monospace-font;
		font-size: 90%;
		display: inline-block;
	}

	.host
	{
		color: @extra-deemphasized-text-color;
	}
}

.file-bar
{
	flex-grow: 0;
	flex-shrink: 0;
	display: flex;
	flex-direction: row;
	border-bottom: 1px solid @separator;

	.btn
	{
		flex-grow: 0;
		flex-shrink: 0;
	}
}

.flex-wrapper
{
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;

	.relative-container
	{
		position: relative;
		flex-grow: 1;
	}
}

#editor
{
	margin: 0;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
}

.ace_gutter-cell.ace_breakpoint
{
	background: @red;
	color: @text-contrast-color;

	&.conditional-breakpoint
	{
		background: @orange;
	}
}

.ace-solarized-light.ace-solarized-light
{
	background: @window-bg;

	.ace_marker-layer .ace_active-line
	{
		background: @subtle-highlight;
	}

	.ace_gutter.ace_gutter
	{
		background: @input-bg;

		.ace_gutter-active-line
		{
			background: @subtle-highlight;
		}
	}
}

.ace_gutter-cell.pending-breakpoint
{
	animation: pending-breakpoint 1s infinite;
}

.ace_gutter-cell.gutter-current-line
{
	background: @active-color;
}

.ace-current-line
{
	background: @active-color-subtle;
	position: absolute;
	z-index: 0;
}

@keyframes pending-breakpoint
{
	0%
	{
		opacity: 0;
	}

	50%
	{
		opacity: 1
	}

	100%
	{
		opacity: 0;
	}
}

.current-value
{
	display: none;
	transition: @transition-duration opacity;
	background: @window-bg;
	color: @window-text-color;
	padding: @spacing-sm;
	font-family: @monospace-font;
	position: fixed;
	box-shadow: @shadow;

	.tree-container
	{
		width: 300px;
		height: 250px;
		overflow: auto;

		&.jstree-default .jstree-hovered
		{
			background-color: @subtle-highlight;
		}

		&.jstree-default .jstree-anchor
		{
			height: auto;
			white-space: normal;
			max-width: ~"calc( 100% - 2em )";
			word-break: break-word;
		}
	}

	.identifier
	{
		color: @deemphasized-text-color;
	}

	&.showing
	{
		display: block;
	}
}

.var-expr-hover
{
	background: @subtle-highlight;
	position: absolute;
}

.command-timer
{
	z-index: 6;
	position: absolute;
	@margin: @spacing-sm;
	@padding: @spacing-sm/2 @spacing-sm;
	bottom: @spacing-sm;
	left: @spacing-sm;
	background: @window-bg;
	box-shadow: @shadow;
	padding: @spacing-sm/2 @spacing-sm;
	display: flex;
	align-items: stretch;
	flex-direction: column;

	& > *
	{
		padding: 5px;
	}

	.spinner
	{
		margin-right: @spacing-sm;
	}

	.timer
	{
		color: @window-text-color;
		font-family: @monospace-font;
		font-weight: bold;
		display: inline-block;
	}

	&.inactive
	{
		display: none;
	}

	.autorun-msg
	{
		color: @deemphasized-text-color;
		font-size: 80%;
		text-align: center;
		font: @monospace-font;
	}
}
