<div>This will take effect immediately and cannot be undone. Continue?</div>
<div class="btn-group black">
	<button data-modal-role=open data-user-id="{{userId}}" data-confirm="{{comfirmType}}" class="btn text-btn confirmation-confirm close-popover-on-click">
		Yes
	</button>
	<button data-modal-role=open class="btn black text-btn close-popover-on-click">Cancel</button>
</div>
