<div>This will take effect immediately and cannot be undone. Continue?</div>
<div class="btn-group">
	<button data-modal-role=open data-user-id="{{user_id}}" data-confirm="{{comfirm_type}}" class="btn black sm confirmation-confirm close-popover-on-click"><i class="fa fa-check"></i></button>
	<button data-modal-role=open class="btn black sm close-popover-on-click"><i class="fa fa-times"></i></button>
</div>
