<div class="user-accounts-listing">
	Loading user accounts...
	{{{spinner}}}
</div>
<div class="flex-container">
	<div class="input-group">
		<div class="aligner no-resize">
			<label for="invite_user">Invite user</label>
		</div>
		<input type="text" placeholder="Enter an email address..." id="invite_user">
	</div>
	<button class="btn invite-user sm black"><i class="fa fa-check"></i></button>
</div>
