<h2>Existing Users</h2>
<div class="user-accounts-listing">
	Loading user accounts...
	{{{spinner}}}
</div>
<h2>Add User</h2>
<div class="input-group no-margin">
	<input type="text" class="no-margin-top" placeholder="Enter an email address..." id="invite_user">
	<button class="btn invite-user no-margin-top sm margin-left black"><i class="fa fa-paper-plane"></i></button>
</div>
