<div class="all-user-accounts">
	{{#each accounts}}
	<div data-user-id="{{id}}">
		<span class="username">{{username}}</span>
		<span class="email">({{email}})</span>
		<button class="btn no-margin-top sm black remove-account"><i class="fa fa-trash"></i></button>
	</div>
	{{/each}}
</div>
