<div class="all-user-accounts">
	<table>
		<tr>
			<th class="rm-cell"></th>
			<th>Username</th>
			<th>Email</th>
		</tr>
		{{#each accounts}}
		<tr data-user-id="{{id}}">
			<td class="rm-cell">
				<button class="btn black sm remove-account"><i class="fa fa-trash"></i></button>
			</td>
			<td>{{username}}</td>
			<td>{{email}}</td>
		</tr>
		{{/each}}
	</table>
</div>
