@import "@{defaults}";

.modal-overlay
{
	background: @deemphasized-text-color;
	z-index: 9;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.modal
{
	border-radius: @default-border-radius;
	.transition();
	background: @default-window-bg;
	box-shadow: @shadow;
	position: relative;
	max-width: 600px;
	width: 80vw;
	margin: 0 auto;
	transform:  scale(1, 1);
	opacity: 1;
	display: inline-block;

	&.modal-hidden
	{
		@scale: 1.5;
		transform:  scale(@scale, @scale);
		opacity: 0;
	}
}

.modal-title-bar
{
	position: relative;
	background: @title-bar-bg;
	padding: @default-spacing-sm @default-spacing-sm * 1.5;
	color: @title-bar-fg;
	font-size: 14px;
}

.modal-exit
{
	border-radius: 0 @default-border-radius 0 0 ;
	padding: @default-spacing-sm;
	background: @title-bar-bg;
	position: absolute;
	font-size: 14px;
	top: 0;
	right: 0;
	color: @title-bar-fg;
	height: 100%;
	box-sizing: border-box;
	cursor: pointer;
}

.modal-content
{
	padding: @default-spacing;
	width: 100%;
	box-sizing: border-box;
	border-radius: 0 0 @default-border-radius @default-border-radius;
}

.blurable
{
	.transition();

	&.blurred
	{
		@blur: 10px;
		position: relative;
		-webkit-filter: blur(@blur);
		-moz-filter: blur(@blur);
		-o-filter: blur(@blur);
		-ms-filter: blur(@blur);
		filter: blur(@blur);
	}
}
