@import "@{defaults}";

#file_finder
{
	border: 1px solid #CCC;
	display: inline-block;
	background: transparent;
	font-family: consolas, monospace;
	box-sizing: border-box;
	padding: 5px 10px;
	margin: 10px;

	&:active,
	&:focus
	{
		outline: none;
	}
}

.file-bar
{
	flex-grow: 0;
	flex-shrink: 0;
	display: flex;
	flex-direction: row;
	border-bottom: 1px solid #CCC;

	.btn
	{
		flex-grow: 0;
		flex-shrink: 0;
	}
}

#editor
{
	margin: 0;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateZ(0) scale(1.0, 1.0);
	height: 100%;
	width: 100%;
}

:empty + .show-currently-open-files
{
	display: none;
}

.show-currently-open-files
{
	.transition();
	cursor: pointer;

	&:hover
	{
		color: #666;
	}
}

.ace_gutter-cell.ace_breakpoint
{
	background: #C22;
	color: #FFF;

	&.conditional-breakpoint
	{
		background: #44B;
	}
}

.ace-solarized-light.ace-solarized-light
{
	background: #FFF;

	.ace_marker-layer .ace_active-line
	{
		background: rgba( 0,0,0,0.1);
	}

	.ace_gutter.ace_gutter
	{
		background: #F0F0F0;

		.ace_gutter-active-line
		{
			background: rgba( 0,0,0,0.1);
		}
	}
}

.ace_gutter-cell.pending-breakpoint
{
	animation: pending-breakpoint 1s infinite;
}

.ace_gutter-cell.gutter-current-line
{
	background: @tertiary-color;
}

.ace-current-line
{
	background: @tertiary-color + #444;
	position: absolute;
	z-index: 0;
}

@keyframes pending-breakpoint
{
	0%
	{
		background: rgba(0,0,0,0);
	}

	50%
	{
		background: #CC2;
		color: #000;
	}

	100%
	{
		background: rgba(0,0,0,0);
	}
}

.continuation-command-notification
{
	position: absolute;
	@margin: 10px;
	@padding: 5px 10px;
	bottom: @margin;
	left: @margin;
	background: #FFF;
	border-radius: 3px;
	box-shadow: 0 0 5px #000;
	padding: @padding;
	display: flex;
	align-items: center;

	.timer
	{
		color: @primary-color;
		font-family: monospace;
		font-weight: bold;
		display: inline-block;
		margin-left: 10px;
	}

	&.inactive
	{
		display: none;
	}
}
